body {
    background-color: black;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    color: limegreen;
}

h1 {
    margin-left: 600px;
}

canvas {
   
    width: 100%;
    height: 100%;
    /* border: red solid 6px; */
    position: relative;
    overflow: hidden;
}

#container {
    width: 1000px;
    height: 800px;
    /* border: green solid 5px; */
    justify-content: center;
    position: absolute;
    text-align: center;
    margin-left: 200px;
    background-image: url("images/background.jpeg");
    object-fit: scale-down;
    background-repeat: no-repeat;
}
    

#top-left {
    color: limegreen;
}

#clue-box {
    height: 300px;
    width: 50px;
    text-align: center;
    margin-left: 78px;
    
}

h4 {
    color:greenyellow
}

#feather-box {
    border: black solid 1px;
    height: 50px;
    width: 50px;
    background-color:tan;
}

#polaroid-box {
    border: black solid 1px;
    height: 50px;
    width: 50px;
    background-color:tan;
}

#blood-box {
    border: black solid 1px;
    height: 50px;
    width: 50px;
    background-color: tan;
}

#track-box {
    border: black solid 1px;
    height: 50px;
    width: 50px;
    background-color:tan;

}

#moth-polaroid {
    visibility: hidden;
    height: 45px;
    width: 45px;
}

#moth-feather {
    visibility: hidden;
    height: 45px;
    width: 45px;
}

#moth-blood {
    visibility: hidden;
    height: 45px;
    width: 45px;
}

#moth-tracks {
    visibility: hidden;
    height: 45px;
    width: 45px;
}

#message {
   
    display: flex;
    width: 100px;
    height: 200px;
    margin-left: 50px;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}

#button-box {
    
    height: 60px;
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

button {
    background-color: limegreen;
    margin-left: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    font-weight: bold;
    visibility: hidden;
    
}